<div class="container flex gap-6 my-12 justify-center items-center">
  <button class="button button-sm">EXPLORE</button>
  <button class="button">EXPLORE</button>
  <button class="button button-lg">EXPLORE</button>
</div>

<div class="container border-4 border-purple-400">
  <h1>Hello, space-tourism</h1>
  <h2>Hello, space-tourism</h2>
  <h3>Hello, space-tourism</h3>
  <h4>Hello, space-tourism</h4>
  <h5>Hello, space-tourism</h5>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dolorum
    totam error molestiae, qui sapiente nihil quisquam hic. Sint error nulla,
    velit voluptas esse corrupti necessitatibus! Mollitia laborum placeat iste
    itaque earum sint molestiae suscipit quis consequatur voluptates, aut
    reprehenderit ad velit, quod natus dicta. Quod, alias commodi? Consectetur
    nisi molestiae similique magni molestias! Tenetur laudantium eius provident
    qui quia ipsam repudiandae aliquam ex est, repellendus expedita? Ratione
    aperiam labore iure voluptas architecto ea quasi nisi doloribus hic porro
    accusamus ipsam reprehenderit assumenda, rerum nam fugiat esse, consequatur
    cupiditate qui possimus dolorem eos reiciendis! Qui reprehenderit facere
    perferendis debitis fuga incidunt voluptatem voluptatum illum laborum eaque
    doloremque dolor nostrum pariatur modi accusantium dolorum animi expedita
    voluptate voluptas, praesentium nam suscipit, maiores a ipsam. Nihil commodi
    consequatur, cum quis earum sed eligendi ratione obcaecati molestias est vel
    assumenda magni dolores quia. Sed, quas. Doloribus natus impedit odio, odit
    eos quae quo, eum iste temporibus ratione a nisi beatae reprehenderit? Magni
    veniam ex cum omnis itaque odio officiis, amet consequatur est sapiente
    tempore consequuntur nulla, ducimus tenetur nostrum excepturi? Similique
    laborum ab iure vel voluptatibus vero quidem, ipsa ullam facilis,
    accusantium obcaecati, neque repellendus! Laborum labore culpa eaque quo
    maxime eos quis aut veniam placeat! Repellendus eveniet ea, qui aut, eum
    molestiae tempora minima porro ratione, est blanditiis cumque dolor
    recusandae dignissimos. Odio ipsa neque accusamus amet optio? Illum cum
    distinctio earum nemo enim harum ipsam, dolorem reiciendis iste maiores
    alias voluptate at adipisci, odio, ad sequi consectetur. Tempora, explicabo
    nisi. Consectetur ipsa iure dolor harum commodi alias odit doloribus
    distinctio eos optio repellat nostrum molestias delectus officiis, eaque
    explicabo vero laboriosam! Dolorum, aut, porro tenetur perferendis ipsum
    enim vel, sapiente quae earum nesciunt impedit culpa molestias inventore
    unde magnam fuga fugiat? Sit a consectetur odio porro at dignissimos
    asperiores ducimus, tenetur ratione dolorem laboriosam quasi iusto dolore
    obcaecati natus. Ullam illum amet molestias maiores distinctio, deserunt
    repellat, blanditiis aperiam soluta, consequuntur provident modi cumque
    nostrum quisquam tempora corrupti? Odio quasi deleniti voluptatum ea.
    Consequatur sunt, porro eius magnam, consequuntur a ea architecto saepe
    veniam, doloribus quod eaque molestias repellendus sed atque eum itaque
    ducimus cum maiores expedita? Veniam beatae animi possimus, cum, iusto
    blanditiis ut architecto nesciunt ad delectus aut ullam maxime alias
    aliquid. Voluptate, quos quibusdam eos corporis, aliquid nesciunt maiores
    consectetur alias, cum assumenda nostrum praesentium inventore error
    accusantium. Dignissimos velit consequatur aperiam quae impedit incidunt
    error cupiditate soluta nulla at, molestiae fuga id nisi dolores asperiores
    nemo accusamus vero natus laboriosam? Fuga minima similique ad corrupti
    dignissimos nesciunt voluptatum numquam eveniet fugit amet, quibusdam
    accusamus soluta velit assumenda. Optio aliquid quas porro sed? Officia
    distinctio rem nam ipsum porro reiciendis, neque libero. Ducimus amet dolor,
    hic placeat quidem, harum et doloremque eos officia pariatur necessitatibus
    temporibus! Sit rem corporis voluptatum provident enim esse similique,
    laborum distinctio dolorem ratione est neque quas obcaecati rerum quaerat
    velit amet aut laudantium numquam, quo repellendus fuga atque?
    Exercitationem fugiat sequi alias totam asperiores dolore ratione, et
    voluptates blanditiis. Dicta dolor, quia consequuntur qui laudantium quae
    voluptatem, eius repellendus ratione, dolores nesciunt. Vero nam quos sunt.
    Impedit unde beatae sint quas reprehenderit deserunt deleniti dolorem aut
    neque, consequuntur eum. Quaerat cumque quis delectus iure exercitationem
    voluptatem quos a ad similique, illum qui quisquam tempore quasi,
    repellendus officiis tempora asperiores ipsam eveniet ipsum mollitia?
    Adipisci eius ratione fugiat, nisi laboriosam eaque quos amet? Nesciunt,
    consequuntur est! Sed distinctio facere ullam dolore impedit consequatur
    asperiores ex? Obcaecati, culpa blanditiis laborum ipsa quisquam temporibus
    ad. Laborum dolores iusto quam laboriosam nihil possimus quas earum aliquam
    necessitatibus recusandae nemo voluptatibus ullam, cupiditate veritatis
    similique perferendis, quod odit dolor nesciunt nobis, at nam nostrum.
    Tempore neque cum assumenda dignissimos totam. Soluta odit nostrum voluptas
    beatae eveniet. Beatae tempore voluptas id, rerum ex possimus iusto
    reiciendis in facere. Autem error laudantium culpa numquam delectus iste
    veniam itaque iure alias quod laboriosam fugiat impedit earum voluptas
    corrupti, quaerat architecto sit odit, velit veritatis, rerum voluptate.
    Vero cum quaerat nam corporis quis facilis voluptates, blanditiis obcaecati,
    rem aliquid veniam nesciunt, repellendus ipsum neque fugit voluptate magnam
    numquam architecto pariatur! Beatae sed architecto facilis, tempora itaque
    cumque dolore quibusdam totam perspiciatis veritatis delectus eligendi optio
    velit fuga deleniti id repellat molestiae similique ea quidem rerum! Ea ex
    magnam cum amet sit hic nisi, possimus, placeat, dolore debitis facilis.
    Mollitia tempore dicta, accusantium sint alias repellat deserunt ipsum quam.
    Obcaecati eveniet excepturi explicabo illum harum laboriosam ad sint
    corrupti deleniti doloremque nemo atque, magni vero placeat tenetur nisi
    cupiditate esse. Facere vel porro cumque repellat non sunt pariatur optio!
    Laudantium numquam consequatur, ex nam voluptas quo non aperiam voluptate
    veniam necessitatibus itaque dolore tempore perferendis delectus repudiandae
    eaque animi! Minus ratione adipisci veniam vitae officiis nobis, fugit nam
    quisquam reiciendis quidem harum nesciunt tempora cumque temporibus ab
    beatae! Quam ea eaque quia corporis molestias veniam culpa dignissimos vel,
    libero magnam, nostrum voluptatibus distinctio, ipsum blanditiis quod nobis
    ad. Libero excepturi laboriosam nisi optio tempore voluptate rerum quaerat
    iste soluta ullam, quis aspernatur. Animi unde tenetur est iste deserunt
    saepe omnis perferendis sequi tempore, placeat modi, cum, impedit officia
    optio! Quo nam architecto sapiente sint quaerat autem qui! Temporibus
    asperiores, praesentium harum iusto aliquam eveniet illum ad unde incidunt
    dolorem voluptatum? Placeat non nobis sunt? Ex reprehenderit itaque
    recusandae quod! Sit excepturi eveniet dignissimos enim architecto
    necessitatibus unde, amet accusamus vel nesciunt sunt ratione id repudiandae
    perferendis, quos aliquam voluptatem est deserunt omnis voluptatum nihil.
    Dolores amet vitae numquam, facilis fugit, voluptatem, ducimus nihil labore
    nemo dolor quod omnis. Id quidem quo quia perferendis impedit enim totam
    provident nemo dolorum, culpa ratione dolores, at distinctio? Magnam placeat
    voluptas sed aliquam culpa adipisci esse nobis incidunt error atque?
    Recusandae, quae, nulla eius, sit nobis rem nemo aspernatur et eaque
    quisquam qui. Praesentium omnis unde debitis, doloribus dolorum inventore
    hic ipsa laboriosam vel sed quia similique veritatis modi doloremque placeat
    fugit magni, totam et minima itaque est ad nemo perspiciatis. Omnis enim
    voluptatum dolorem aperiam libero ipsa totam ea est repellat blanditiis
    odit, sit porro perspiciatis!
  </p>
</div>
